@{
    Layout = "../Shared/_BaseLayout.cshtml";
}

<div id="Posts">
    <article class="blog-main">
        <section class="blog-content">
            <p style="height: 5px;">&nbsp;</p>
            <p><span style="font-family: 'Microsoft YaHei'; font-size: 18pt;"><strong><strong>个人简介</strong></strong></span></p>
            <p>
                <span style="font-family: 宋体; font-size: 12pt;">
                    &nbsp; &nbsp; 大家好，便当之神是我的网名。
                </span>
            </p>
            <p>&nbsp;&nbsp;</p>
            <p>&nbsp;</p>
            <p>
                <span style="font-family: 'Microsoft YaHei'; font-size: 18pt;">
                    <strong>
                        <span style="color: #000000;">
                            <span style="color: #ffffff;">
                                <span style="color: #000000;">哪里可以找到我</span>
                            </span>
                        </span>
                    </strong>
                </span>
            </p>
            <p>
                <span style="font-family: 宋体; font-size: 12pt;">
                    &nbsp; &nbsp;QQ：156595517 &nbsp;<span style="color: #ffffff;">
                        （伸手党与太差的人别来了）
                    </span>
                </span>
            </p>
        </section>
    </article>
</div>