@{
    Layout = "../Shared/_BaseLayout.cshtml";
}

@foreach (var item in ViewBag.Blogs)
{
    <div id="Posts">
        <article class="blog-main">
            <header class="blog-title"><a href="#">@item.Title</a></header>
            <div class="blog-meta">
                <span>
                    <i class="icon-calendar"></i>@item.CreateTime
                </span>
                <a><span><i class="icon-folder-open"></i>技术探讨</span></a>
            </div>
            <section class="blog-content">
                @Html.Raw(item.Summary)
                <div style="text-align:right;padding-right:5px;"><a style="outline: none;" href="~/blog/@item.ID" title="点点点，读读读">阅读全文</a></div>
            </section>
        </article>
    </div>
}